body{
     background-color: #e6e6e6;
     width: 100vw;
     overflow-x: hidden;
}
header{
     display: flex;
     flex-direction: column;
     gap: 1vh;
     width: 95vw;
     margin: 20px 2.5vw;
}
header input{
     line-height: 20px;
     border-radius: 10px;
     color: #e6e6e6;
     background-color: #232323;
}
.types{
     display: flex;
     gap: 0.5vw;
     overflow-x: auto;
     scrollbar-color: #232323 transparent;
}
.types button{
     border-radius: 30px;
     border: 0;
     color: white;
     padding: 5px 10px;
}
main{
     display: flex;
     gap: 5vw;
     flex-wrap: wrap;
     justify-content: center;
}